*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
  
  /* Scrollbar  */
  
  /* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
a{
    text-decoration: none;
    color: black;
}
.bg-user{
    background: url(./images/user.png);
}

.bg-vegie{
    background: url(./images/Firefly\ gym\ equipments\ \,\ fruits\ and\ vegetables\ \,\ food\ items;\ bright\ purple\ velor\ colour;gradient\ 191\ 1.png);
}

.bg-calories{
    background: url(./images/calories\ 1.png);
}

.bg-meals{
    background: url(./images/meals\ logged\ final\ 1.png);
}

.bg-sadDick{
    background: url(./images/sag.jpg);
}
.bg-calForm{
    background: url(./images/mountain\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-coach{
    background: #C6C8C863;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-img{
    background: url(./images/logo1111\ 3.png);
    height: 10vh;
    width:  6vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.name-img{
    background: url(./images/platemate.png);
    height: 10vh;
    width:  10vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5vh;
}


.text-big {
    color: black;
    font-family: Black Han Sans;
    font-size: 39.4px;
    font-weight: 400;
    line-height: 52.8px;
    text-align: left;

}

.text-small {
    font-size: 21px;
    color: black;
    font-family: Alef;
    font-size: 28px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;

}
.text-extraSmall{
    font-size: 5px;
    color: black;
    font-family: Alef;
    font-size: 28px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
}
  
.text-center {
    text-align: center;
}

.btn {
    /* padding: 8px 20px;
    margin: 15px 0px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color: black */

    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
    margin-top: 4vh;
  
}

.btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
}
  
.btn:active {
    transform: scale(0.9);
}
  
/* .btn:hover {
    background-color: rgba(0, 0, 0, 0.527);
    cursor: pointer;
    color: white;
} */
  
.btn-sm {
    padding: 6px 10px;
    /* vertical-align: middle; */
}

.navbar{
    display: flex;
    padding: 1vh 1vw;
    background: #F6EEEEDC;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 8.57vh;
    width: 97.2vw;

}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.nav-list li{
    list-style: none;
    text-decoration: none;
}
.nav-list li a{
    text-decoration: none;
    color: black;
    font-family: Cabin;
    font-size: 21px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

}
.nav-list li  :hover{
    color: #d62a2a;
}

.firstSection{
    height: 90vh;
    width: 98vw;
    margin: auto;
    margin-bottom: 3vh;
}

.box-big{
    background: #381ED538;
    height: 57.2vh;
    width: 98vw;
    margin: auto;
    border-radius: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius:0px ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1vh;
    
}
.box-big .buttons{
    height: 8vh;
    width: 18vw;
    display: flex;
    justify-content: space-between;
}

.benchmarks{
    display: flex;
    justify-content: space-between  ;
}

.paras{
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paras-big{
    width: 40%;
    margin: 6vh 2vw;
}

.image-big{
    height: 50vh;
    width: 30.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 6vh 2vw;

}

.secondSection{
    height: 100vh;
    width: 99.4vw;
    /* margin-top: 3vh; */
    margin-bottom: 3vh;
    display: flex;

}
/* @keyframes glow{
    0%{background-color: yellow;}
    10%{background-color: rgb(255, 217, 0);}
    20%{background-color: rgb(255, 187, 0);}
    30%{background-color: rgb(255, 145, 0);}
    40%{background-color: rgb(255, 98, 0);}
    50%{background-color: red;}
    60%{background-color: rgb(255, 98, 0);}
    70%{background-color: rgb(255, 162, 0);}
    80%{background-color: rgb(255, 187, 0);}
    90%{background-color: rgb(255, 217, 0);}
    0%{background-color: yellow;}
    

} */
.box-small{
    background: #381ED538;
    height: 30.6vh;
    width: 24vw;
    margin: auto;

    border-radius: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* animation: glow 6s infinite  ease-in-out */
    
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #381ED5ED;

    height: 45vh;
    width: 100%;
    margin-top: 1vh;
    /* margin-bottom: 3vh; */
}
.box-medium{
    height: 35vh;
    width: 96vw;
    margin: auto;

    /* border-radius: 70px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}



.image-small{
    height: 10vh;
    width: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.pad-sm-top {
    padding-top: 15px;
}
.pad-sm-bot {
    padding-bottom: 18px;
}

.font-md {
    font-size: 35px;
}
.font-sm {
    font-size: 18px;
}
  
.foot-font {
    font-family: "Courier New", Courier, monospace;
    color: black;
}

.footer .box-medium{
    justify-content: space-between;
}

.navigation a :hover{
    color: #d62a2a;
}

.flex-col{
    flex-direction: column;
}

.navigation-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
}

.navigation a p{
    margin-bottom: 2vh;
}

.line{
    height: 2vh;
    width: 50%;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.text-white{
    color: white;
}